* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'scary';
    src: url('../font/scary.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'scary2';
    src: url('../font/scary2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'scary3';
    src: url('../font/scary3.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    width: 100%;
    background-image: url(../slike/scary_background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

#glavni {
    position: absolute;  /* Dodamo to, da bo vedno na vrhu */
    top: 0;
    left: 0;
    height: 100%;  /* Celoten zaslon */
    width: 100%;
    display: flex;
    justify-content: center;  /* Poravnava vsebine vertikalno in horizontalno */
    align-items: center;
    text-align: center;
}

#title {
    height: 250px;
    width: 456px;
    margin: 20px auto 0;
    background-size: cover;  /* This makes the background image cover the whole div */
    background-repeat: no-repeat;  /* Prevents the background from repeating */
    background-position: center;  /* Centers the background image */
    position: absolute;
    top: 0;
}

.button {
    min-height: 180px;
    width: 50vw;  /* Fleksibilna širina glede na širino zaslona */
    max-width: 200px;  /* Omejimo največjo širino */
    background: url(../slike/button.png);
    margin: 0px auto 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 130px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    overflow: visible;
}

.button:hover {
    transform: scale(1.05);  /* Dodamo subtilni učinek povečanja ob hoverju */
}

.button a {
    color: rgb(11, 46, 7);
    font-weight: bold;
    font-size: 24px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    font-family: 'scary2', sans-serif;
}

.swal2-confirm {
    background-color: rgb(24, 91, 23) !important;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

